<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']" class="btn btn-primary" type="button" name="button">
       Nuevo heroe
    </button>
    <button class="btn btn-outline-danger"> Eliminar Todos </button>
  </div>
</div>

<br>

<div class="row animated fadeIn fast">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Casa</th>
          <th>Bio</th>
          <th class="text-right">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let key  of heroes | keys ; let i=index'>
          <th>{{ i }}</th>
          <td>{{ heroes[key].nombre }}</td>
          <td>{{ heroes[key].casa }}</td>
          <td>{{  key  }}</td>
          <td class="text-right w230">
            <button class="btn btn-outline-success" [routerLink]="['/heroe',key]"> Editar </button>
            <button class="btn btn-outline-danger" (click)="eliminarHeroe(key)"> Eliminar </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>